.input-label{
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 20px;
  &__label{
    display: flex;
    justify-content: space-between;
    span{
      background-color: rgb(104, 102, 102);
      color: rgba(255, 255, 255, 0.699);
      padding: 1px 3px;
      font-size: .8rem;
      border-radius: 5px;
    }
  }
}